.body-formulario {
    background:
    url("../img/patas.svg") no-repeat top right,
    url("../img/background-top.svg") no-repeat top left,
    url("../img/background-left.svg") no-repeat left 75%,
    var(--branco);
    color: var(--azul);
}


/*---style do cabecalho no arquivo style.css*/


/*------------------------------main*/
.formulario__conteudo {
    height: 680px;
    margin: 5rem 1.5rem 0;
    text-align: center;
}

.formulario__logo {
    margin-bottom: 1rem;
}

.conteudo__texto {
    margin-bottom: .5rem;
}

.container-formulario {
    color: var(--cinza);
    display: flex;
    flex-direction: column;
    margin: 1.5rem .5rem;
}

.container-formulario__campo {
    background-color: var(--cinza-claro-bg);
    border-radius: .4rem;
    border-style: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    margin-top: .2rem;
    padding: .75rem .5rem;
}

.container-formulario__campo::placeholder {
    color: var(--cinza-claro);
    font-family: var(--fonte-principal);
    font-size: .75rem;
    text-align: center;
}

.campo--senha {
    background-image: url("../img/icone-senha.svg");
    background-position: right .75rem center;
    background-repeat: no-repeat;
}

.formulario__botao {
    color: var(--branco);
    background-color: var(--coral);
    border-radius: .4rem;
    border-style: none;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 0;
    width: 9rem;
}


/*------------------------------TABLET*/

@media screen and (min-width: 768px) {

    .body-formulario {
        background:
        url("../img/patas.svg") no-repeat top right,
        url("../img/background-top.svg") no-repeat top left,
        url("../img/background-right.svg") no-repeat right 55%;
        background-size: 214px, 560px, 115px;
    }

    .formulario__conteudo {
        height: 830px;
        margin: 9.75rem 7.5rem 0;
    }

    .formulario__logo {
        width: 251px;
    }

    .conteudo__texto {
        font-size: 1.1rem;
        line-height: 1.6rem;
    }

    .container-formulario {
        font-size: 1.125rem;
        margin: 2rem auto;
        text-align: center;
        width: 344px;
    }

    .container-formulario__campo {
        margin-top: .5rem;
    }

    .container-formulario__campo::placeholder {
        font-size: .875rem;
    }

    .formulario__botao {
        font-size: 1.125rem;
        width: 10rem;
    }

}


/*------------------------------DESKTOP*/

@media screen and (min-width: 1440px) {

    .formulario__conteudo {
        margin: 2.25rem auto 0;
        height: 830px;
        width: 552px;
    }

    .formulario__logo {
        margin-bottom: 2.5rem;
    }

    .conteudo__texto {
        margin-bottom: 0;
    }

    .formulario {
        margin-top: 3rem;
    }

    .container-formulario {
        font-weight: 600;
        width: 552px;
    }

    .container-formulario__campo::placeholder {
        font-size: 1rem;
    }

    .campo--senha {
        margin: .5rem auto 0;
        width: 362px;
    }
    
    .formulario__botao {
        margin: 0 auto;
        text-align: center;
    }
}