.body-usuario {
    background:
    url("../img/background-top.svg") no-repeat top left,
    var(--branco);
    color: var(--azul);
}


/*---css do cabecalho no arquivo style.css*/

/*------------------------------main*/

.galeria__texto {
    line-height: 1.25rem;
    margin: 4.5rem 4rem 2rem;
    text-align: center;
}

.lista-pets__item {
    background-color: var(--cinza-claro-bg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12.25rem;
    margin: 1em 0;
    padding: .5rem 1.5rem;

}

.lista-pets__item:last-child {
    margin-bottom: 0;
}

.item__imagem {
    height: 9rem;
    width: 9rem;
}

.caracteristicas__nome {
    font-weight: 600;
    margin-bottom: .5rem;
}

.caracteristicas__item {
    color: var(--cinza);
    font-size: .9rem;
    line-height: 1.25rem;
}

.caracteristicas__local {
    color: var(--cinza);
    font-size: .75rem;
    margin-top: 1.8rem; 
}

.caracteristicas__contato {
    display: flex;
}

.contato__ancora {
    color: var(--cinza);
    font-family: var(--fonte-principal);
    font-size: .6rem;
    font-weight: 400;
    margin-left: .5rem;
    text-decoration: none;
}


/*---css do cabecalho no arquivo style.css*/


/*------------------------------TABLET*/

@media screen and (min-width: 768px) {

    .body-usuario {
        background-size: 560px;
    }

    .galeria {
        margin: 0 2rem;
    }

    .galeria__texto {
        font-size: 1.125rem;
        margin-top: 11.5rem;
    }

    .galeria__texto span {
        display: block;
    }

    .lista-pets {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        width: 44rem;
    }

    .lista-pets__item {
        margin-bottom: 0;
        width: 18.5rem;
    }

    .lista-pets__item:last-child {
        margin-bottom: 2rem;
    }
}


/*------------------------------DESKTOP*/

@media screen and (min-width: 1440px) {

    .body-usuario {
        background: 
            url("../img/background-top.svg") no-repeat top left,
            url("../img/background-right.svg") no-repeat right 40%;
        background-size: 560px, 115px;
    }

    .galeria__texto {
        margin-top: 5.8rem;
    }

    .galeria__texto span {
        display: inline;
    }

    .lista-pets {
        width: 70rem;
    }

    .lista-pets__item {
        margin: .5rem 0;
        width: 19.7rem;
    }

    .lista-pets__item:last-child {
        margin-bottom: 3.75rem;
    }
}