.inicial {
    background-color: var(--azul);
    background-image: url("../img/forma-bg-1.svg"), url("../img/forma-bg-2.svg"), url("../img/ilustration-cat-dog.svg");
    background-repeat: no-repeat;
    background-position: left top, right 40%, bottom 4rem left 30%;
    color: var(--branco);   
}

.destaque {
    margin: 3rem;
    text-align: center;
}

.destaque__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2rem 0 1.5rem;
}

.destaque__botao {
    height: 23rem; /*defini uma altura padrão para o final da página para evitar que a ilustração fique por baixo do botão*/
    margin-top: 1rem;
}

.botao__item {
    background-color: var(--coral);
    border-radius: .4rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin: .5rem 0;
    padding: .5rem;
    width: 65%;
}

.botao__texto {
    color: var(--branco);
    font-weight: 600;
    text-decoration: none;
}