@import url(./css/cadastro.css);


:root {
    --azul: #3772FF;
    --branco: #FFFFFF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --cinza: #737380;
    --cinza-claro: #BCBCBC;
    --cinza-fundo: #F6F6F6;
    --cinza-input: #f7f7f7;


    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'IBM Plex Sans', sans-serif;
}

body {
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;

    background: url("img/forma-bg-1.svg") no-repeat;
    background-position: left top;
}

/* Estilizando o header */

.cabecalho {
    padding: 3rem;
}

.cabecalho__item {
    margin-right: 3rem;
}

/* Estilizando o footer */

.rodape {
    color: var(--branco);
    text-align: center;
    background-color: var(--verde);
    padding: 2rem 0;
}