@import url(./css/reset.css);
@import url(./css/index.css);
@import url(./css/cadastro.css);
@import url(./css/login.css);
@import url(./css/home.css);
@import url(./css/mensagem.css);

:root {
    --azul: #3772FF;
    --branco: #FFFFFF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --cinza: #737380;
    --cinza-claro: #BCBCBC;
    --cinza-fundo: #F6F6F6;
    --cinza-claro-bg: #f7f7f7;


    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'IBM Plex Sans', sans-serif;
}

body {
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}


/*------------------------------header*/

.cabecalho {
    margin: 3rem 2.75rem 0 3rem;
}

.cabecalho__menu { /*MUDANÇA DE nav alterei para menu*/
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100px;
}

.cabecalho__logo {
    display: none;
}

/*---header home.html e mensagem.html*/

.cabecalho__usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.45rem 2.45rem 0 3rem;
}


/*------------------------------footer*/

.rodape {
    background-color: var(--verde);
    color: var(--branco);
    padding: 2rem 0;
    text-align: center;
}


/*------------------------------TABLET*/

@media screen and (min-width: 768px) {

    .cabecalho {
        margin-top: 4rem;
    }

    .cabecalho__completo {
        display: flex;
        justify-content: space-between;
        width: 19rem;
    }

    .cabecalho__logo {
        display: inline;
        height: 2rem;
        width: 8rem;
    }

    /*---header home.html e mensagem.html*/

    .cabecalho__usuario {
        margin-top: 3.25rem;
    }

    .usuario__icone {
        width: 3rem;
    }

}


/*------------------------------DESKTOP*/

@media screen and (min-width: 1440px) {
    
    .cabecalho {
        margin-left: 10rem;
    }

    .cabecalho__completo {
        width: 251px;
    }

    .cabecalho__logo {
        margin-right: 3rem;
    }

    /*---header home.html e mensagem.html*/

    .cabecalho__usuario {
        margin: 3rem 10.75rem 0 10rem;
    }

    .usuario__icone {
        width: 3.5rem;
    }
}